<div class="container filter-elements">
    <div class="category">
        <ul class="category__list-bt">
            <li class="category__item-bt"></li>
            <li class="category__item-bt"></li>
            <li class="category__item-bt"></li>
            <li class="category__item-bt"></li>
            <li class="category__item-bt"></li>
            <li class="category__item-bt"></li>
        </ul>
        <div class="category__others-container">
            <!-- is-open після category__others-container при натиску на other -->
            <button class="category__item-bt-arrow">
                <span>Other</span>
                <svg class="category__button-arrow" width="14" height="14">
                    <use href="/src/images/sprite.svg#arrow-down"></use>
                </svg>
            </button>
            <div class="filter-category__container">
                <ul class="filter-category__list">
                    <!-- <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li>
                    <li class="filter-category__item"><button class="filter-category__button"></button></li> -->
                </ul>
            </div>
        </div>
        <p class="calendar-form__text">Search date news</p>
        <div class="calendar-form">
            <div class="input-form" data-modal-open data-modal-close>
                <svg class="calendar__button-calendar" width="14" height="14">
                    <!-- switchedColor після calendar__button-calendar при натиску на календар-->
                    <use href="./images/sprite.svg#calendar"></use>
                </svg>
                <input readonly id="input-picker" class="calendar-input datepicker-here" placeholder="Enter date..." />
                <!-- isActive після datepicker-here при натиску на календар -->
                <svg class="calendar__button-arrow" width="14" height="14">
                    <!-- switched після calendar__button-arrow при натиску на календар-->
                    <use href="./images/sprite.svg#arrow-down"></use>
                </svg>
            </div>
            <div class="calendar-wrapper is-hidden-wrapper" data-modal>
                <!-- is-hidden-wrapper зникає після calendar-wrapper при натиску на календар -->
                <div class="calendar-wrapper__container">
                    <div class="calendar-switcher">
                        <p class="current-date"></p>
                        <div class="calendar-icons">
                            <span id="prev" class="material-symbols-rounded">
                                <svg class="calendar__button-arrow-icon" width="14" height="14" transform="rotate(90)">
                                    <use href="./images/sprite.svg#arrow-down"></use>
                                </svg>
                            </span>
                            <span id="next" class="material-symbols-rounded">
                                <svg class="calendar__button-arrow-icon" width="14" height="14" transform="rotate(270)">
                                    <use href="./images/sprite.svg#arrow-down"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="calendar">
                        <ul class="calendar-weeks__list">
                            <li class="calendar-weeks__item">Sun</li>
                            <li class="calendar-weeks__item">Mon</li>
                            <li class="calendar-weeks__item">Tue</li>
                            <li class="calendar-weeks__item">Wed</li>
                            <li class="calendar-weeks__item">Thu</li>
                            <li class="calendar-weeks__item">Fri</li>
                            <li class="calendar-weeks__item">Sat</li>
                        </ul>
                        <ul class="days">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>